{% extends "index.html" %}
{% block title %}biblioteca{% endblock %}
{% block imagen_centro %}{% endblock %}
{% block stilo_body %}{% endblock %}
{% block navbar %}{% endblock %}
{% block content%}
<ul>
    {% for i in recomendar_mangas %}
        <li><b><i>{{i.titulo}}</i></b>
            <ul>
                <u><i>Editorial:</i></u>  {{i.editorial}}  / 
                <u><i>Autor:</i></u>  {{i.autor}} /
                <u><i>Año de publicaion:</i></u>  {{i.fecha_publicacion}} 
            </ul>
            <br>
        </li>
    {% endfor %}
</ul>
{% endblock %}