{% extends "index.html" %}
{% block title %}Bienvenid@ {{ user.username }} {% endblock %}
{% block imagen_centro %}{% endblock %}
{% block stilo_body %}{% endblock %}
{% block navbar %}
<nav class="navbar" >
    <li><a id="user_main" href="/user">Listas</li>
    <li><a id="biblioteca" href="/biblioteca">Biblioteca</a></li>
    <li><a id="add" href="/add">Agregar Manga</a></li>
    <li><a id="logout" href="/logout">Cerrar Sesión</a></li>
</nav>
{% endblock %}
{% block recomendados %}
<h2>Lista de Recomendados</h2>
<form action="/recomendados" method="POST">            
    <div>
        <label for="manga"> Ingresar manga a recomendar </label>
        <select name="manga"    >
            <option value="Shonen">Shonen</option>
            <option value="Seinen">Seinen</option>
            <option value="Shoujo">Shoujo</option>
            <option value="Josei">Josei</option>
        </select>
    </div>  

    <div>
        <br>
        <input type="submit" id="manga" value="Buscar"/>
    </div>
    
</form>
{% endblock %}
{% block content%}
<h2>Listas Personales</h2>
<div class="form_lista">
    <form action="/user" method="POST">            
        <input type="text" class="form_block" id="addlista" name="addlista">
        <button type="submit" class="button_lista">Crear</button>
        
    </form>
</div>
<div class="mostrar_listas">
    {% for lista in user.listas or lista.nombre_lista %}
    <form action="{{url_for('show_lista', lista_id = lista.id)}}" name="nombre">
        <input type="submit" value="{{lista.nombre_lista}}">
    </form>

    <form action="{{url_for('get_lista', lista_id= lista.id)}}" name="editar">
        <input type="submit" value="Editar">
    </form>
    {% endfor %}


</div>
{% endblock %}